* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul,
ol {
    list-style: none;
}

img {
    max-width: 100%;
}

.container {
    width: 1140px;
    margin: 0 auto;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}



header .container {
    display: flex;
    flex-direction: column;
    padding: 20px 0px;
}

nav {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.nav-list {
    display: flex;
    flex-direction: row;
    margin-left: 170px;
}

.nav-link {
    display: block;
    text-decoration: none;
    margin: 0px 15px;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    color: #1B1A1F;
}

.nav-link1 {
    display: flex;
    align-items: center;
    text-decoration: none;
    margin: 0px 15px;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    color: #1B1A1F;
}

.nav-link:hover {
    color: #06C3A6;
}

.active {
    color: #06C3A6;
}

.nav-link1:hover {
    color: #06C3A6;
}

.icon {
    margin-right: 8px;
    outline: none;
}

.search-btn {
    margin-left: 340px;
}

.select-section {
    margin-left: auto;
}

select {
    width: 103px;
    border: none;
}


.header-info {
    padding: 120px 0px;
    margin: 60px 0px;
    font-style: normal;
    font-weight: 600;
    font-size: 70px;
    line-height: 86px;
    letter-spacing: 0.04em;
    color: #000000;
    background-image: url(./img/Group7.png);
    background-repeat: no-repeat;
    background-position-y: center;
    background-position-x: right;

}

.h-text {
    color: #06C3A6;
}


.features-list {
    padding: 30px 0px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-align: center;
}

.features-item {
    width: 15%;
}

.f-text {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    margin: 18px 0px;
    color: #1B1A1F;

}